Repository khulnasoft-lab/vul, changes with the labels that .github/labeler.yml gives for each.
All labels: area/build, area/capture, area/db, area/cloud, area/fanal, area/flags, area/k8s, area/testing, area/UX, kind/documentation

Update README.md
  README.md
Labels: kind/documentation

Update azure/setup-helm digest to ac5ee1f
  .github/workflows/publish-chart.yaml
Labels: area/build

Update github.com/masahiro331/go-ext4-filesystem digest to c4f6a70
  go.mod
  go.sum
Labels: area/build

Update golang.org/x/exp digest to 7918f67
  go.mod
  go.sum
  pkg/fanal/analyzer/language/golang/mod/testdata/pkg/mod/github.com/khulnasoft-lab/go-dep-parser@v0.0.0-20220406074731-71021a481237/go.mod
  pkg/fanal/analyzer/language/golang/mod/testdata/pkg/mod/github.com/khulnasoft-lab/go-dep-parser@v0.0.0-20230219131432-590b1dfb6edd/go.mod
Labels: area/build, area/fanal

Update golang.org/x/xerrors digest to 104605a
  go.mod
  go.sum
  pkg/fanal/analyzer/language/golang/mod/testdata/pkg/mod/github.com/khulnasoft-lab/go-dep-parser@v0.0.0-20220406074731-71021a481237/go.mod
  pkg/fanal/analyzer/language/golang/mod/testdata/pkg/mod/github.com/khulnasoft-lab/go-dep-parser@v0.0.0-20230219131432-590b1dfb6edd/go.mod
Labels: area/build, area/fanal

Update helm/kind-action digest to 100421e
  .github/workflows/publish-chart.yaml
Labels: area/build

Update dependency @vue/compiler-sfc to v2.7.15
  pkg/fanal/analyzer/language/nodejs/yarn/testdata/yarn-classic-licenses/package.json
  pkg/fanal/analyzer/language/nodejs/yarn/testdata/yarn-classic-licenses/yarn.lock
Labels: area/fanal

Update sigstore/cosign-installer digest to 4b014e3
  .github/workflows/reusable-release.yaml
Labels: area/build

Update github.com/khulnasoft-lab/go-pep440-version digest to e3fc4bc
  pkg/fanal/analyzer/language/golang/mod/testdata/pkg/mod/github.com/khulnasoft-lab/go-dep-parser@v0.0.0-20220406074731-71021a481237/go.mod
  pkg/fanal/analyzer/language/golang/mod/testdata/pkg/mod/github.com/khulnasoft-lab/go-dep-parser@v0.0.0-20230219131432-590b1dfb6edd/go.mod
Labels: area/fanal

Update helm/chart-testing-action digest to e6669bc
  .github/workflows/publish-chart.yaml
Labels: area/build

Update deb packages
  brand/Trivy-OSS-Logo-Color-Horizontal-RGB-2022.png
  brand/Trivy-OSS-Logo-Color-Horizontal-RGB-2022.svg
  brand/Trivy-OSS-Logo-Color-Stacked-RGB-2022.png
  brand/Trivy-OSS-Logo-Color-Stacked-RGB-2022.svg
  brand/Trivy-OSS-Logo-White-Horizontal-RGB-2022.png
  brand/Trivy-OSS-Logo-White-Horizontal-RGB-2022.svg
  brand/Trivy-OSS-Logo-White-Stacked-RGB-2022.png
  brand/Trivy-OSS-Logo-White-Stacked-RGB-2022.svg
  brand/readme.md
Labels: kind/documentation

.github/labeler.yml:

#
# area
#
# area/arm64:
area/build:
  - "**/Makefile"
  - "**/Dockerfile"
  - go.sum
  - go.mod
  - .github/**
  - .clang-format
  - .dockerignore
area/capture:
  - "*capture*"
# area/co-re:
area/db:
  - pkg/db/*
  - pkg/db/**/*
area/cloud:
  - pkg/cloud/*
  - pkg/cloud/**/*
area/fanal:
  - pkg/fanal/*
  - pkg/fanal/**/*
area/flags:
  - pkg/flags/*
  - pkg/flags/**/*
area/k8s:
  - pkg/k8s/*
  - pkg/k8s/**/*
area/testing:
  - tests/*
  - tests/**/*
  - "**/*_test.go"
  - "**/*_test.rego"
# area/uprobe:
area/UX:
  - pkg/cmd/*
  - pkg/cmd/**/*
  - cmd/*
  - cmd/**/*
#
# kind
#
kind/documentation:
  - docs/*
  - docs/**/*
  - "**/*.md"
  - mkdocs.yml
  - NOTICE
  - LICENSE
  - cmd/tracker-gptdocs/*
# kind/bug:
# kind/chore:
# kind/feature:
